In [2]:
english="星期一","星期二","星期三"
french="蘋果","檸檬","芭樂"
list(zip(english,french))

[('星期一', '蘋果'), ('星期二', '檸檬'), ('星期三', '芭樂')]

In [4]:
dict(zip(english,french))

{'星期一': '蘋果', '星期三': '芭樂', '星期二': '檸檬'}

In [5]:
for x in range(0,3):
    print(x)

0
1
2

In [6]:
list(range(0,3))

[0, 1, 2]

In [10]:
for x in range(2,-1,-1):
    print(x)

2
1
0

In [11]:
list(range(2,-1,-1))

[2, 1, 0]

In [12]:
list(range(0,11,2))

[0, 2, 4, 6, 8, 10]

In [14]:
number_list=list(range(1,6))
number_list

[1, 2, 3, 4, 5]

In [19]:
rows = range(1,4)
cols = range(1,3)
for row in rows:
    for col in cols:
        print(row,col)

1 1
1 2
2 1
2 2
3 1
3 2

In [21]:
rows = range(1,4)
cols = range(1,3)
cells=[(row,col) for row in rows for col in cols]
for cell in cells:
    print(cell)

(1, 1)
(1, 2)
(2, 1)
(2, 2)
(3, 1)
(3, 2)

In [23]:
for row, col in cells:
    print(row,col)

1 1
1 2
2 1
2 2
3 1
3 2

In [24]:
days=["一",'二',"三","四","五"]
actions=["看電影","吃大餐","去爬山","去考試","睡覺"]
list(zip(days,actions))

[('一', '看電影'), ('二', '吃大餐'), ('三', '去爬山'), ('四', '去考試'), ('五', '睡覺')]

In [26]:
def do_nothing():
        pass

In [28]:
do_nothing()

In [36]:
def make_a_sound():
    print('quack')
    
make_a_sound()

quack

In [31]:
def agree():
    return True

In [33]:
if agree():
    print('adasd')
else:
    print('dadada')

adasd

In [34]:
def echo(anything):
    return anything

In [35]:
echo('sadasdsdas')

'sadasdsdas'

In [40]:
def commentary(color):
    if color =='red':
        return "iron man is red"
    elif color =='green':
        return "fruit is green"
    elif color =="yellow":
        return "banana is yellow"

In [42]:
print(commentary("red"))

iron man is red

In [43]:
def print_args(*args):
    print('sadasddsa:',args)

In [44]:
print_args()

sadasddsa: ()

In [46]:
print_args(3,2,1,'wait!','das....')

sadasddsa: (3, 2, 1, 'wait!', 'das....')

In [48]:
def print_kwargs(**kwargs):
    print('keyasda :', kwargs)

In [50]:
print_kwargs(wine='merlot',mentree="rice",dessert='banana')

keyasda : {'wine': 'merlot', 'mentree': 'rice', 'dessert': 'banana'}